body {
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 3px 3px 20px 15px;
  color: gray;
}

.product_id {
  color: green;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 100%;
  border-radius: 15px;
  font-size: 0.7rem;
}


.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.card {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}


@media (max-width: 767px) {
  .card-img-top {
    height: 100%;
  }

  .card {

  }
}
