{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2">
Добро пожаловать в магазин А-мега — вашего надежного партнера в мире высокотехнологичных решений для ПК! Мы гордимся тем, что предоставляем широкий ассортимент товаров и услуг, чтобы удовлетворить все ваши потребности в области компьютерной техники.

Наши преимущества:

Широкий ассортимент товаров: От мощных видеокарт и процессоров до стильных клавиатур и мышей — у нас вы найдете все необходимое для вашего ПК.

Качественный ремонт: Наша команда опытных техников готова восстановить работоспособность вашего оборудования. Быстро, эффективно и по разумным ценам.

Индивидуальный подход: Мы понимаем, что каждый клиент уникален. Наши консультанты готовы предоставить вам профессиональные рекомендации и помочь выбрать наилучшие решения под ваши потребности.

Постоянные акции и скидки: Следите за нашими специальными предложениями, чтобы сэкономить еще больше!

Удобство заказа: Онлайн-покупки, быстрая доставка и легкость оформления заказа сделают ваше покупательское взаимодействие с А-мега приятным и удобным.

Независимо от того, нужны ли вам комплектующие для апгрейда, стильные аксессуары или вы ищете профессиональный ремонт — магазин А-мега всегда готов к вашим высокотехнологичным запросам! Покупайте с уверенностью, что ваш ПК получит лучший сервис и оборудование.






</p>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Магазин А-мега</p>
    </div>
</footer>
{% endblock %}


